#Profile {
    padding-top: 20px;

    header{
        text-align: center;
        font-size: 24px;
        line-height: 48px;
        padding: 20px 0;
        margin-bottom: 12px;
    }

    .adm-list-header {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .btn-back {
        margin-left: 12px;
        margin-top: 60px;
    }

    .exit-button-container {
        position: absolute; // Positions the container absolutely within #Profile
        bottom: 20px; // Distance from the bottom of the #Profile
        left: 50%; // Moves the container to the middle of the #Profile
        transform: translateX(-50%); // Centers the button exactly at the middle
    }

    #MyProfile{
        padding: 20px;
        font-size: 20px;
        line-height: 32px;

        .profile-list{
            >p>span:first-child{
                margin-right: 12px;
            }
        }
    }
}